:root {
    --lightest-blue: rgb(210, 225, 233);
    --light-blue: rgb(154, 174, 185);
    --dark-blue: rgb(35, 36, 37);
    --red-index: #ffcec5;
    --yellow-index: #f5f0aa;
    --green-index: #befaa3;
}

* {
    color: var(--light-blue);
}

body {
    background-color: var(--lightest-blue);
    box-sizing: border-box;
}

.header {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-family: Arial, Helvetica, sans-serif;
}

#weather-container {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    flex: none;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    border: var(--light-blue) 2px solid;
    margin: 3px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}

.card-body:hover {
    background-color: rgb(35, 36, 37);
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

#current-weather-card {
    margin-top: 10px;
    box-sizing: border-box; 
    width: 67.5vw; 
    height: 31.7vh;
    line-height: 10px;
}

#forecast-card {
    margin-top: 10px;
    box-sizing: border-box; 
    width: 67.5vw; 
    height: 51.7vh;
}

#weather-card-0 {
    margin-left: 10px;
}

#weather-card-4 {
    margin-right: 10px;
}

#my-weather-title div {
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
}

#weather-text {
    margin-left: 50px;
}

#forecast-card {
    display: flex;
    flex-wrap: wrap;
}

#forecast-title {
    text-align: center;
}

#forecast-title h5 {
    font-size: 1em;
}

#forecast-title img {
    width: 40px;
}

#forecast-text {
    font-size: .8em;
    text-align: center;
}

.weekly-weather {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; 
    height: 51.7vh;
}

.green, 
.yellow,
.red {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.green {
    background-color: var(--green-index);
}

.yellow {
    background-color: var(--yellow-index)
}

.red {
    background-color: var(--red-index)
}

@media screen and (max-width: 800px) {
    #current-weather-card,
    #forecast-card {
        width: 65vw;
    }

    .weekly-weather {
        margin: 3px;
        height: 24.75vh;
    }
}

@media screen and (max-width: 480px) {
    #current-weather-card,
    #forecast-card {
        width: 62vw;
    }
    #current-weather-card {
        height: 40vh;
    }
    #weather-text {
        margin-left: 20px;
        padding-top: 15px;
    }
    #weather-card-0 {
        margin-left: 3px;
    }
    
    #weather-card-4 {
        margin-right: 3px;
    }

    #forecast-card {
        height: 140vh;
    }

    .weekly-weather {
        width: 60.2vw;
        height: 27vh;
    }
}