:root {
    --lightest-blue: rgb(210, 225, 233);
    --light-blue: rgb(154, 174, 185);
    --dark-blue: rgb(35, 36, 37);
}

body {
    background-color: var(--lightest-blue);
    box-sizing: border-box;
}

.header {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-family: Arial, Helvetica, sans-serif;
}

#weather-container {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    flex: none;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    border:rgb(35, 36, 37) 2px solid;
    margin: 3px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: rgb(35, 36, 37);
}

.card-body:hover {
    background-color: rgb(35, 36, 37);
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

#current-weather-card,
#forecast-card {
    margin-top: 10px;
    box-sizing: border-box; 
    width: 67.5vw; 
    height: 41.7vh;
    /* text-align: center; */
}

#my-weather-title div {
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
}

#weather-text {
    margin-left: 50px;
}